.carousel {
  margin-top: 3.6em;
}

.carousel-indicators li {
  border-color: #ccc;
  background-color: #ccc;
}

.jumbotron {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.carousel-inner {
  height: 19.5em;
}

.carousel-inner .item img {
  display: block;
  margin: auto;
}

#carimg {
  max-height: 19.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}


.glyphicon.glyphicon-user {
  font-size: 7em;
  float: right;
  margin: 0.2em;
}
